<header class="navbar sticky-top navbar-dark bg-secondary">
  <div class="container">
    <%= link_to "tutorial", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-right">
        <li><%= link_to "Home", root_path, class: 'nav-link' %></li>
        <li><%= link_to "Help", help_path, class: 'nav-link' %></li>
        <li><%= link_to "Log in", '#', class: 'nav-link' %></li>
      </ul>
    </nav>
  </div>
</header>
